<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   {% block movies %}
   {% endblock %}
   {% block directors %}
   {% endblock %}
   {% block details %}
   {% endblock %}
   {% block add_director %}
   {% endblock %}
   {% block add_movie %}
   {% endblock %}
   {% block edit_director %}
   {% endblock %}
   {% block register %}
   {% endblock %}
   {% block login %}
   {% endblock %}
   {% block logout %}
   {% endblock %}
</body>
</html>